.container {
  margin-top: 20px;
  padding-bottom: 20px;
  background: white;
  border-radius: 25px;
  width: 100%;
  min-height: 90vh;
  background-color: #fdf6e8;
  background-image: radial-gradient(#f4ead9 1px, transparent 0);
  background-size: 8px 8px;
}
